/* reset body background and color, just in case */
body {
    background: #fff;
    color: #000;
    font-family: Georgia, Times New Roman, serif;
    font-size: 12pt
}
/* any element with class noprint or listed below should not be printed */
.noprint,
.visuallyhidden {
    display: none
}
/* display image as block */
img {
    display: block;
    float: none
}
/* remove width and floats from elements */
#wrapper,
.container,
.container .grid_1, 
.container .grid_2,
.container .grid_3,
.container .grid_4,
.container .grid_5,
.container .grid_6,
.container .grid_7,
.container .grid_8,
.container .grid_9,
.container .grid_10,
.container .grid_11,
.container .grid_12 {
    width: 100%;
    margin: 0;
    float: none    
}
/* links arent clickable on paper, lets display url */
a:link:after {
    content: " (" attr(href) ") ";
}
a {
    text-decoration: underline
}

