[[strip]][[* using strip in stylesheet to remove unneeded empty space, will reduce the file size *]]

/* Default styles for screens up to 1024px width */
/* realign logo for mobile devices */
.logo.grid_4 {
    float: none;
    display: block;
    text-align: center;
    margin:10px 0;
    padding:0;
    width: 100%
}
/* hide rotating palm */
.logo .palm {
    display: none
}
/* realign navigation for mobile devices */
nav.main-navigation {
    float: none;
    margin: 0;
    height: auto;
    line-height: 1
}
nav.main-navigation > ul {
    float:none;
    position: relative;
    padding: 0
}
nav.main-navigation ul li {
    background: #f1f1f1;
    display: block;
    position: relative;
    border-radius: 4px 4px 0 0;
    padding: 0 10px;
    margin: 0 1px
}
nav.main-navigation > ul > li > a,
nav.main-navigation > ul > li.sectionheader > span {
    font-size: 12px;
    line-height: 28px;
}
/* second level navigation */
nav.main-navigation ul li ul {
    top: -999em;
    left: -999em;
    width: 200px;
    position: absolute;
}
nav.main-navigation > ul > li:hover > ul {
    top: 28px;
    left: 0;
    right: auto
}
nav.main-navigation ul ul li {
    position: relative;
    background: #fff;
    line-height: 1;
    height: auto;
    margin: 0;
    padding: 0
} 
nav.main-navigation > ul > li li a {
    line-height: 1
}
/* third level */
nav.main-navigation > ul > li > ul > li:hover > ul {
    left: 0;
    top: 28px
}
/* close button (appended to dropdown with jquery) */
.close-button {
    display: block;
    background: url([[uploads_url]]/simplex/images/close_button.png) no-repeat;
    text-indent: -999em;
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 24px;
    height: 24px
}
/* display phrase text and search box in full width */
.header-bottom {
    height: auto;
    line-height: 1.2;
    padding: 10px 0
}
.search input {
    text-align: center;
    padding: 5px 0 3px 0;
    display: block
}
/* phrase */
.phrase .grid_7 {
    margin: 0;
    width: 100%;
    float: none;
    display: block
}
/* hide banner text and size image area */
.banner-text {
    display: none;
    width: 0
}
.banner-image {
    display: block;
    width: 100%;
    float:none;
    margin: 0;
    padding: 0
}
/* hide print button */
a.printbutton {
    display: none
}

/* =====================================
Tablet (Portrait) 
===================================== */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
    /* realign navigation for mobile devices */
    nav.main-navigation {
        float: none;
        margin: 0;
        line-height: 1
    }
    nav.main-navigation ul li {
        position: static
    }
    nav.main-navigation > ul > li > a,
    nav.main-navigation > ul > li.sectionheader > span {
        font-size: 14px
    } 
    .header-bottom {
        height: auto;
        line-height: 1.2;
        padding: 10px 0
    }
    .search input {
        width: 60%;
        text-align: center;
        padding: 5px 0 3px 0;
        display: block
    }
}

/* =====================================
Smartphones (Landscape) 
===================================== */
@media only screen and (min-width: 321px) and (max-width: 767px) { 
    nav.main-navigation ul li {
        position: static
    }    
    nav.main-navigation > ul > li > a.
    nav.main-navigation > ul > li.sectionheader > span {
        font-size: 10px
    }
}

/* =====================================
Smartphones (Portait) 
===================================== */
@media only screen and (max-width: 320px) {
    .logo img {
        margin: 20px auto
    }
    /* realing navigation */
    nav.main-navigation {
        line-height: 1
    }
    nav.main-navigation > ul > li:hover > ul {
        top: 58px;
        left: 2%;
        right: auto
    }    
    nav.main-navigation ul li {
        float: none;
        position: relative;
        background: none;
        border-bottom: 1px dotted #f1f1f1;
        border-radius: 0;
        padding: 8px 0;
        margin: 0
    }
    nav.main-navigation > ul > li > a,
    nav.main-navigation > ul > li.sectionheader span {
        font-size: 20px
    }
    /* search box */
    .grid_5.search {
        float:none;
        margin: 0 auto;
        width: 100%;
    }    
    .search input {
        width: 80%;
        text-align: center;
        padding: 5px 0 3px 0;
        display: block
    }     
    /* hiding footer navigation or it is squeezed to much */
    .footer-navigation {
        display: none
    }
    .footer .copyright {
        text-align: center
    }
}

[[/strip]]
